/*---------------------------------------
::
:: 	Section-7 Mobile Overrides
:: 
-----------------------------------------*/
@import '../../Core/Sections/Section-7.scss';

.section-7 {

	display:none;

}

.section-8 {

	overflow:auto; -webkit-overflow-scrolling: touch; 

	h2 { font-size: 1.7em; margin-bottom: 0.5em; }

	button { width: 100%; @include box-sizing(border-box); }

	.wrapper { 

		display:none; margin: 70px 7.89%; width: 84.22%;

	}

	.product-wrap { 

		padding: 1em 0; 

		&:first-child { padding-top:0; }

	}

	.left-nav { position:relative; top:0; left:0; text-align: center; }

	.cross-sells {  }

	.match.second.hidden { display:none; }

	.matches {

		.match { @extend %fade-in; }

		.match.second { display:none; }

		&.showing-1 {

			.match.first { display:none; }

			.match.second { display:block; }

			.toggle-match { margin-top:-1em; }

		}

	}

	.both.hidden button { display:none; }

	.both.button .price { display:none; }

	.toggle-match { width: 100%; margin: 1em 0 0; }

	.toggle-match .tease-wrap .teaser-message { font-size: 1.2em; }

	.toggle-match .tease-wrap .teaser { @include transition(none); }

	.teaser-wrap.has-image .teaser-message { text-align:left; }

}

/*---------------------------------------
::
:: 	States
:: 
-----------------------------------------
:: 	Display
-----------------------------------------*/
.to-page-9, .from-page-9  {
	.section-8 .wrapper { display:block; }
}

/*---------------------------------------
:: 	To 9
-----------------------------------------*/
.to-page-9 .section-8 { @extend %left-in; }
.from-page-1.to-page-9 .section-8 { @extend %upped-in; }
.from-page-6.to-page-9 .section-8 { @extend %up-in; }
.from-page-8.to-page-9 .section-8 { @extend %up-in; }

/*---------------------------------------
:: 	From 9
-----------------------------------------*/
.from-page-9.to-page-1 .section-8 {
	@extend %right-out;
}
.from-page-9.to-page-2 .section-8 {
	@extend %right-out;
}
.from-page-9.to-page-3 .section-8 {
	@extend %right-out;
}
.from-page-9.to-page-4 .section-8 {
	@extend %right-out;
}
.from-page-9.to-page-5 .section-8 {
	@extend %right-out;
}
.from-page-9.to-page-6 .section-8 {
	@extend %right-out;
}
.from-page-9.to-page-7 .section-8 {
	@extend %right-out;
}
.from-page-9.to-page-8 .section-8 {
	@extend %right-out;
}

