//------------------------------------------
//
// 	UI > Breakpoints
//
//------------------------------------------
$phone: 767px;
$tablet: 1024px;
$desktop: 1280px;

@mixin phone() {
	$query: "only screen and (max-width: #{$phone})";
	@media #{$query} { @content; }
}

@mixin tablet() {
	$query: "only screen and (min-width: #{$phone + 1}) and (max-width: #{$tablet})";
	@media #{$query} { @content; }
}

@mixin desktop() {
	$query: "only screen and (min-width: #{$tablet + 1}) and (max-width: #{$desktop})";
	@media #{$query} { @content; }
}

@mixin extended() {
	$query: "only screen and (min-width: #{$desktop + 1})";
	@media #{$query} { @content; }
}