/*---------------------------------------
::
:: 	Finder > Sections > Section 2
::
-----------------------------------------*/
.section-2 {

	background-color: #B88E76;

	.content { display:none; }

	.background {

		opacity:0;

		&.first { background-image: url($path + 'images/step-3.jpg'); }

		&.second { background-image: url($path + 'images/step-4.jpg'); }

	}

	h5, h2 { color: $black; }

	.content {

		position:absolute; top:0; height: 100%; width:100%; @extend %upped-out;

		.top, .bottom { position:absolute; width: 100%; text-align:center; }
		.top { bottom: 40%; }
		.bottom { top: 70%; height: 40%; }

		&.first .top, &.second .top { opacity:0; }

	}

	.icons { padding-top: 2em; clear:both; overflow: hidden; height:100%; }

	.icon {

		position:relative; cursor: pointer; float:left;

		@include transform(translateX(800%));

		&:before { @extend %icon; font-size: 5em; display:block; position: relative; line-height: 1em; }

		&:before, h4, small { color: $black; @include transition(color 400ms); }

		small { padding-top: 0.4em; display: block; }

		&.active {
			&:before, h4, small { color: $magenta; }
		}


	}

	.content.first {
		.icon { width: 13.615%; }
		.icon-0 { margin-left: 2.3474%; }
		.icon-0:before { content: "a"; }
		.icon-1:before { content: "r"; }
		.icon-2:before { content: "b"; }
		.icon-3:before {
			content: "";
			height: 48px; width: 48px;
			border-radius: 100px; border: 6px solid #000;
			display: inline-block; margin: 9px 0 7px;
			background: rgba(0,0,0,0.3);
			@include transition((border 400ms, background 400ms));
		}
		.icon-4:before { content: "d"; }
		.icon-5:before { content: "e"; }
		.icon-6:before { content: "f"; }

		.icon-3.active:before {
			background: rgba(236, 0, 140,0.3);
			border: 6px solid $magenta;
		}

	}

	.content.second {
		.icon { width: 16.666%; }
		.icon-0 { margin-left: 16.666%; }
		.icon-0:before { content: "g"; }
		.icon-1:before { content: "h"; }
		.icon-2:before { content: "i"; }
		.icon-3:before { content: "j"; }
	}

	.button-wrap {
		position:absolute; top: 50%; margin-top: 3em; width: 100%; text-align:center;
		button { background: $magenta; font-weight:700; letter-spacing:2px; }
	}

}


/*---------------------------------------
::
:: 	Hover Events
::
-----------------------------------------*/
.has-mouse .section-2 {

	.icon:hover { &:before, h4, small { color: $magenta; } }

	.content.first {
		.icon-3:hover:before {
			background: rgba(236, 0, 140,0.3);
			border: 6px solid $magenta;
		}
	}

}

.has-touch .section-2 {

	.icon.hover { &:before, h4, small { color: $magenta; } }

	.content.first {
		.icon-3.hover:before {
			background: rgba(236, 0, 140,0.3);
			border: 6px solid $magenta;
		}
	}

}


/*---------------------------------------
::
:: 	States
::
-----------------------------------------
:: 	Display
-----------------------------------------*/
.to-page-2, .to-page-3, .from-page-2, .from-page-3 {
	.section-2 {
		z-index: 1;
		.content { display:block; }
	}
}
